.parent-div {
    position: relative;
  }
  
  .image-div {
    margin-left: 900px;
    margin-top: 400px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    
    .img{
        width: 450px;
        height: 465px;
    }
  }

  footer {
    background-color: #FDF6E9;
    padding: 20px;
    text-align: center;
    margin-top: 600px;
    height:150px;
  }

  footer ul {
    list-style: none;
    padding: 0;
    display: table-column;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  footer li {
    margin: 0 10px;
  }